<div class="container mt-5">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <% if @task.completed? %>
    <p>Completed</p>
  <% else %>
    <p>Not completed yet</p>
  <% end %>

  <%= link_to "Delete #{@task.title}",
              task_path,
              method: :delete,
              data: { confirm: "Are you sure?" } %>

  <%= link_to 'Back to list', '/tasks' %>
  <%= link_to 'Edit', edit_task_path %>

</div>
